{% extends "base.html" %} 
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    {% block static_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    {% endblock static_files %}
    
    <title>
        {% block title %} PyOligo - form {% endblock title %}
    </title>
</head>

<body>
    {% block content %}
    <br>
    <br>
    <br>
    <div class="columns">
        <div class="column is-6 is-offset-2">
                <h2><span><a class="button is-title-1">
                        <span class="icon is-small">
                            <i class="fas fa-book"></i>
                        </span>
                        <span>Instructions</span>
                    </a></span> </h2>
        </div>
    </div>
    
    <div class="columns">
        <div class="column is-8 is-offset-2 content-box">
            <div class="instruction">
            <ul>
                <li> <code>Sequence Name</code> : The name of the sequence that is being analyzed. If no name is provided, the name will be set to current time.</li>
                <li>
                    <code>DNA Sequence</code> : The DNA sequence must be a valid sequence comprising only A,T,C, and G base pairs (case insensitive).
                </li>
                <li>
                    <code>Maximum Length</code> : Maximum acceptable length of the oligo. The deafult value is 50 nts.
                </li>
                <li>
                    <code>Melt Temperature</code> : The average melt temperature (&#177;3) of overlapping regions.
                </li>
                <li>
                    <code>Oligo Concentration</code> : The oligo concentration used to calculate melt temeprature.
                </li>
                <li>
                    <code>Na<sup>+</sup> Concentration</code> : Sodium ion concentration used to adjust entropy while calculating melt temperature.
                </li>
            </ul>  
        </div>   
        </div>
    </div>
    <form action="{% url 'main:output'  %}" method="POST">
        {% csrf_token %}
        <div class="columns is-multiline">
            <div class="column is-6 is-offset-2">
                    <h2><span><a class="button is-title-2">
                                <span class="icon is-small">
                                    <i class="fas fa-file-import"></i>
                                </span>
                                <span>Main Input</span>
                            </a></span> </h2>
                
            </div>
            <div class="column is-4">
                    <h2><span id="added-space"><a class="button is-title-3">
                                <span class="icon is-small">
                                    <i class="fas fa-sliders-h"></i>
                                </span>
                                <span>Advanced Options </span>
                            </a></span> </h2>
                
            </div>
            
        </div>
    
            <div class="columns">
                    <div class="is-6 column is-offset-2 content-box">
                            
                        <div class="field">
                            <p class="control">
                                <label for="sequence_name"> <code> Sequence Name </code> </label>
                            </p>
                            <p class="control is-expanded">
                                {{form.sequence_name}}
                            </p>
                            <p class="control">
                                <label for="sequence"> <code> DNA Sequence </code> </label>
                            </p>
                            <p class="control is-expanded">
                                {{form.sequence}}
                            </p>
                        </div>
                    </div>
                    

                    <div class="column is-2 content-box-2">
                            
                        <div class="field">
                            <p class="control is-expanded">
                                <label for="max_Lenght"> <code> Maximum Length </code> </label>
                            </p>
                            <p class="control">
                                <div class="select is-fullwidth">
                                    {{form.max_Length}}
                                </div>
                            </p>
                        </div>
                            <div class="control">
                                <label for="melt_Tm"><code> Melt Temperature </code></label>
                            </div>
                        <div class="field has-addons">
                                <p class="control">
                                    {{form.melt_Tm}}
                                </p>
                                <p class="control">
                                    <a class="button is-info is-static">
                                            &#8451;
                                    </a>
                                </p>
                            </div>


                        <div class="control">
                            <label for="oligo_concentration"><code>Oligo Concentration</code></label>
                        </div>
                        <div class="field has-addons">
                            <p class="control">
                                {{form.oligo_concentration}}
                            </p>
                            <p class="control">
                                <a class="button is-info is-static">
                                        &#181;M
                                </a>
                            </p>
                        </div>

                        
                            <p class="control">
                                <label for="monovalent_concentration"> <code> Na<sup>+</sup> Concentration </code> </label>
                            </p>
                      
                        <div class="field has-addons">
                            <p class="control">
                                {{form.monovalent_concentration}}
                            </p>
                            <p class="control">
                                <a class="button is-static is-info">
                                    mM
                                </a>
                            </p>
                        </div>
                            
                    <div class="field">
                        <div class="control is-expanded">
                            <button type="reset" class="button is-danger is-fullwidth"> Clear Form </button>
                            
                        </div>
                        <div class="control is-expanded">
                            <input type="submit" class="button is-fullwidth is-primary" >
                        </div>
            
                       
                    </div>
                    </div>
                </div>

    
</form>
    {% endblock content %}
</body>

</html>